<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Facial Hair Emporium</title>
	</head>
	<body>
		<%= image_tag "logo.jpg", alt: "Logo", size: "200x200"%>
		<div>
		</div>
	</body>
</html>
