<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Facial Hair Emporium</title>
	</head>
	<body>
		<%= image_tag "logo.jpg", alt: "Logo", size: "200x200"%>
		<div class="right">
			<h3>Cart</h3>
			<ul id="cart">
				<li id="noItems">
					<p class="center noitems">No items in your cart</p>
				</li>
				<li id="total">
					<p>Total Order Amount:
						<span id="cartTotal">$0.00</span>
					<p>
				</li>
			</ul>
			<p id="gotoShipping"><a href="#shippinginfo">Enter your shipping and payment information</a></p>
		</div>
	</body>
</html>
